<%- if drug.categories and drug.categories.count > 0 %>
    <div class="ui horizontal divider">Categories</div>
    <div class="ui labels">
      <%- drug.categories.each do |cat| %>
          <div class="ui <%= cat.color %> label">
            <%= semantic_icon(:tag) %>
            <%= link_to cat.name, category_path(cat), class: 'category' %>
            <%= semantic_icon(:delete) %>
          </div>
      <% end %>
    </div>
<% end %>
