<%= semantic_will_paginate obj %>
<div class="ui four column grid">
  <% obj.each do |drug| %>
    <%= render 'drugs/drug_card', drug: drug %>
  <% end %>
</div>
<%= semantic_will_paginate obj %>
<div id="modal"></div>