<div class="card">
  <div class="content">
    <%- if article.image_url %>
        <img class="right floated mini ui image" src="<%= article.image_url %>">
    <% end %>
    <div class="header">
      <%= article.title.html_safe %>
    </div>
    <div class="meta">
      Since <%= time_ago_in_words(article.created_at) %> ago
    </div>
    <div class="description">
      <%= article.content.html_safe %>
    </div>
  </div>
  <div class="extra content">
    <div class="ui three brown buttons">
      <div class="ui icon button">
        <i class="thumbs up outline icon"></i>
      </div>
      <div class="ui icon button">
        <i class="comment icon"></i>
      </div>
      <div class="ui icon button">
        <i class="share icon"></i>
      </div>
    </div>
  </div>
</div>