<%= semantic_will_paginate obj %>
<h1 class="ui centered header">Articles</h1>
<br><br>
<div class="main feed">
  <div class="ui four cards">
    <%- if obj %>
        <%- obj.each do |art| %>
            <%= render 'articles/article', article: art %>
        <%- end %>
    <% end %>
  </div>
</div>

<br>
<%= semantic_will_paginate obj %>
<div id="modal"></div>