<%- if obj.count > 0 %>
  <h1 class="ui centered header">Articles</h1>
  <%= semantic_will_paginate obj %>
<% end %>
<br><br>
<div class="main feed">
  <div class="ui four cards">
    <%- if obj %>
        <%- obj.each do |art| %>
            <%= render 'articles/article', article: art %>
        <%- end %>
    <% end %>
  </div>
</div>

<br>
<%- if obj.count > 0 %>
  <%= semantic_will_paginate obj %>
<% end %>
<div id="modal"></div>
