<br>
<div class="ui centered cards">
  <%= render 'articles/article', art: @article %>
</div>
<br>
<div class="centered actions">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>
