<div class="card">
  <div class="content">
    <img class="right floated mini ui circular image" src="<%= user.picture %>">
    <div class="header">
      <%= user.full_name %>
    </div>
    <div class="meta">
      Friends of Veronika
    </div>
    <div class="description">
      A place holder for the description of that user.
    </div>
  </div>
  <div class="extra content">
    <div class="ui two buttons">
      <div class="ui basic green button">Add friend</div>
      <div class="ui basic red button">Decline</div>
    </div>
  </div>
</div>