<div class="centered" id="welcome" data-anijs="if: click, on: #welcome, do: swing animated">
  <h1 id="welcome_header">Welcome to faridd.com</h1>
  <p class="description" id="welcome_description" data-anijs="do: bounceInRight">The most intelligent drug api on planet earth</p>
</div>