<div class="hidden field" id="diagnosis_select">
  <label for="rx_diagnosis">Suspected diagnosis</label>
  <div class="ui massive fluid search selection diagnosis dropdown" id="diagnosis_selection">
    <input type="hidden" name="rx[diagnosis]">
    <i class="dropdown icon"></i>
    <div class="default text">Your most suspected diagnosis</div>
    <div class="menu">
      <div class="item" data-value="-1">DIAGNOSIS NAME GOES HERE</div>
    </div>
  </div>
</div>
