<div class="field">
  <%= f.label :patient_id %>
  <div class="ui massive action input">
    <%= f.text_field :patient_id, placeholder: 'Patient name or social security number' %>
    <div class="ui massive icon purple next button">
      <i class="add icon"></i>
      Next
    </div>
  </div>
</div>