<div class="hidden field" id="prescription_select">
  <label for="rx_drug">Add drugs</label>
  <div class="ui massive fluid multiple search selection drug dropdown" id="drug_selection">
    <input type="hidden" name="rx[drug]">
    <i class="dropdown icon"></i>
    <div class="default text">Add a drug</div>
    <div class="menu">

    </div>
  </div>
</div>