<br><br>
<div class="centered">
  <h2 class="ui center aligned blue icon horizontal divider header">
    <i class="circular lab icon"></i>
    Listing all the <%= number_to_human obj.count %> generics in the world
  </h2>
  <%= semantic_will_paginate obj %>
  <br>
  <ul class="no-bullets ui link four column grid cards">
    <% obj.each do |g| %>
        <%= render 'generics/generic', g: g %>
    <% end %>
  </ul>
  <%= semantic_will_paginate obj %>
</div>
