<div class="ui two columns grid">
 <div class="column">
   <ul class="no-bullets ui centered attached orange segment">
     <%= render 'generics/generic', g: @generic %>
   </ul>
   <%= link_to "View #{@generic.name} on wikipedia", @generic.wikipedia_page_url, class: 'ui centered bottom attached orange button' %>

 </div>

  <div class="red segment colum">
    <br>
    <%- @generic.youtube_videos.each do |vid| %>
        <div class="ui card">
          <iframe class="ytplayer" type="text/html" width="640" height="390"
                  src="https://www.youtube.com/embed/<%= vid.vid_id %>?autoplay=0&origin=http://example.com"
                  frameborder="0">

          </iframe>
        </div>

   <% end %>
  </div>

</div>