.centered{
  text-align: center;
}
ul.no-bullets{
  list-style: none;
}

#logo{
  float: left;
  font-size: 1.2em;
  color:  #8A0753;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.ajaxify_loader{
  background-image: image_path('loader.gif');
}