.centered{
  text-align: center;
}
ul.no-bullets{
  list-style: none;
}

#logo{
  float: left;
  font-size: 1.1em;
  color:  #8A0753;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#search_input{
  //width: 760px;
  width: 54em !important;
  min-width: 50em;
}
#search_item{
  margin: 0;
  padding: 3px;
  border-right: 0 solid;
}

footer {
  margin-top: 10px;
  border-top: 1px solid #eaeaea;
  padding: 3px;
}
//
//.hidden.menu {
//  display: none;
//}