.centered{
  text-align: center;
}
ul.no-bullets{
  list-style: none;
}

#logo{
  float: left;
  font-size: 1.1em;
  color:  #8A0753;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#search_input{
  //width: 760px;
  width: 54em !important;
  min-width: 50em;
}
#search_item{
  margin: 0;
  padding: 3px;
  border-right: 0 solid;
}

footer {
  margin-top: 10px;
  border-top: 1px solid #eaeaea;
  padding: 3px;
}

footer a, div a, li a, a, .ui a{
  background-color: white;
  color: red;
  &:link {
    background-color: transparent;
    color: red;
  }
  &:visited {
    color: darkblue;
  }
  &:hover {
    color: hotpink;
  }
  &:active {
    color: blueviolet;
  }
}
.username{
  font-size: 1.3em;
  font-family: Hack, Verdana, Helvetica, Sans-Serif, sans-serif;
  font-weight: bold;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.created_at{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
  padding-top: 7px;
}

.category{
  font-weight: bold;
  font-size: 1.1em;
  line-height: -1px;
  letter-spacing: -1px;
  text-decoration: solid;
  text-transform: uppercase;
}
