<h1 class="ui dividing header">Drug Categories</h1>
<%= semantic_will_paginate @categories %>
<%- if @categories %>
  <div class="ui three cards" id="cat_cards">
    <!-- unless cat.parent? is to remove parent categories from showing in the index-->
    <%- @categories.each do |cat| %>
        <%- unless cat.parent? %>
            <%= render 'categories/category', obj: cat %>
        <% end %>
    <% end %>
  </div>
<% end %>
<%= semantic_will_paginate @categories %>
