<%- cache cat do %>
    <%= link_to category_path(cat), class: 'item' do %>
        <%= semantic_icon("#{cat.cat_color}", :tag) %>
        <span><strong><%= "#{cat.id}: #{cat.name.upcase} contains (#{cat.drugs.count} drugs) = (#{number_to_currency(cat.drugs.sum(:price))})" %></strong></span>
    <% end %>
<% end %>