<%- if notice %>
    <div class="ui positive message">
      <%= semantic_icon('close') %>
      <div class="header"><%= notice %></div>
    </div>
<% end %>
<%- if alert %>
    <div class="ui negative message">
      <%= semantic_icon('close') %>
      <div class="header"><%= alert %></div>
    </div>
<% end %>