<div class="ui relaxed centered grid" id="search_div">
  <div class="fluid centered item" id="search_item" data-anijs="if: dblclick, on: #search_item, do: tada animated">
    <div class="ui fluid category purple search" id="search_box">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search Drugs, Generics, Drug categories, Companies, Prescriptions, Deals & Users" id="search_input">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>