<%- if @drug_results %>
    <div class="ui dividing centered header">Commercial Drugs</div>
    <%= render 'drugs/listing', obj: @drug_results.paginate(per_page: 20, page: params[:page]) %>
<% end %>
<%- if @generic_results %>
    <div class="ui dividing centered header">Generics</div>
    <% @generic_results.each do |result| %>
        <div class="ui centered orange segment">
          <%= result.to_s %>
        </div>
    <% end %>
<% end %>
<%- if @user_results %>
    <div class="ui dividing centered header">Users</div>
    <% @user_results.each do |result| %>
        <div class="ui centered orange segment">
          <%= result.to_s %>
        </div>
    <% end %>
<% end %>