<div class="ui fluid category search">
  <div class="ui fluid action input">
    <%= form_tag(search_path, method: :get, remote: true) do %>
        <input type="text" autofocus="true" placeholder="Search Everything!" id="searchBox" name="term">
        <%= submit_tag('Search', class: 'ui purple button') %>
    <% end %>
  </div>
  <div class="results" id="search_results">

  </div>
</div>
